{% extends "reviews/base.html"%}

{% block title %} All Reviews {% endblock %}

{% block content %}
    <h1>All Reviews</h1>
    <ul>
        {% for review in object_list %}
            <li>
                <a href="{% url 'single_review' review.id %}">
                <strong>{{ review.user_name }}</strong> (Rating: {{ review.rating }})
                <br>
                {% if review.review_text %}
                - {{ review.review_text }}
                {% endif %}
                <hr>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}